.board {
    display: flex;
    flex-direction: column;
  }
  
  .board-row {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    border: solid 1px black
  
    }
    
  .cell-white {

    width: 5vw;
    height: 5vw;

    
  }
  .cell-black {
    background-color: black;
    width: 5vw;
    height: 5vw;

  
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  html {
    height: 100%
  }
  