.main-class {
  display: flex;
  flex-direction: column;
}

.section-class {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid 1px black

  }
  
.div-class-white {
  width: 5vw;
  height: 5vw;

  
}
.div-class-black {
  background-color: black;
  width: 5vw;
  height: 5vw;

}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
html {
  height: 100%
}
